.header{
    display: flex;
    align-items: stretch;
}
.back_button{
    margin-top: 20px;
    width: 20px;
    height: 30px;
}
.img{
    color:  #fff;               /* 文字色 */
    margin-left: 50px;/* 外側の余白 */
    margin-top: 1px;
    border-radius:  5px;        /* 角丸指定 */
    width: 5%;
    height:10%; /* 幅指定 */
}
.search {
    margin-top: 20px;
margin-left: 30%;

}
#search_1{
    width: 100px;
}
.login{
    margin-top: 20px;
    margin-left: 30%;

}
.cart{
    background-color: #EEEEEE;
    margin-top: 20px;
    margin-left:10px;
   border:1px solid  ;
}