.N1{
    text-align: center;
}
.info0 {
    width: 70%;
    height:50%;
    background-color: #fff4e8;
    border: 1px  solid gray;
    margin-top: 30px;
    border-top: 3px solid  gray;
}
.info0_1{
    text-align: center;
}
.info{
    position: fixed;
    width: 69.5%;
    height:40%;
    background-color: #fff4e8;
    border: 1px  solid gray;
    margin-top: 30px;
    border-top: 3px solid  gray;
}

.W1{

    position: absolute;
    top: 75%;
    right: 20px;
}

.into{
    position: fixed;
    top:80px;
    left:75%;
    width: 22%;
    height: 300px;
    background-color: #fff4e8;
    border: 1px  solid gray;
    margin-top: 30px;
    border-top: 3px solid  gray;

}
.W2{
    position: absolute;
    top:10%;
    left: 30%;
}
.butt{
    position: absolute;
    top:80%;
    left:25%;
    width: 50%;
    height: 40px;
    background:gold;
    border-radius: 30px;
}
