# デフォルトの無視対象ファイル
/shelf/
/workspace.xml
# データソースのローカルストレージ用のため無視されるファイル
/../../../../../../:\Users\81908\PhpstormProjects\kannkouti\.idea/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
